<div class="row">
  <div class="col">
    <label for="accountName" class="form-label ">Account name</label>
    <input type="text" id="accountName" class="form-control my-2 " #inputAccountName>
    <select id="serverStatus" class="form-select my-2" #inputAccountStatus>
      <option value="unknown">Unknown</option>
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary" (click)="onAddAccount(inputAccountName, inputAccountStatus)">Add Account</button>
  </div>
</div>
