<div class="row">
  <div class="col">
    <img [src]="recipe.imagePath" alt="alternate text" class="img-responsive" width="300px">
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>{{recipe.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Manage recipe
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" (click)="onMoveToShoppingList()">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Ingredients:</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name}} ({{ingredient.amount}})</li>
    </ul>
  </div>
</div>
