<div class="row">
  <div class="col">
    <div class="input-group mb-3 my-2">
      <span class="input-group-text col-2" id="name" >Name</span>
      <input type="text" class="form-control" aria-label="Name" aria-describedby="name" #name>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text col-2" id="amount">Amount</span>
      <input type="number" class="form-control" aria-label="Amount" aria-describedby="amount" #amount>
    </div>
    <button class="btn btn-primary offset-11" (click)="onChild1Click(name, amount)">Add</button>
  </div>
</div>
