<div class="row">
  <div class="col-12">
    <h3>Shopping list items</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-10">
    <app-shopping-edit (onAddIngredient)="onIngredientAdd($event)" (onClearIngredients)="onIngredientsClear()"></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>





