<div class="container">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
      <div class="row">
        <div class="col-6">
          <h3>Shopping list</h3>
          <hr>
          <app-shopping-list></app-shopping-list>
        </div>
        <div class="col-6">
          <h3>Recipes</h3>
          <hr>
          <app-recipes></app-recipes>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <app-server-manager (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-server-manager>
  <div class="row">
    <div class="col">
      <app-server-panel *ngFor="let server of servers" [element]="server" [counter]="counter"></app-server-panel>
    </div>
  </div>
</div>

