<div class="row gy-2">
  <div class="col">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row mb-3">
        <div class="col-sm-5 form-group">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            required
            name="name"
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount" class="form-label">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            required
            ngModel
            name="amount"
            [pattern]="'^[1-9]+[0-9]*$'"
          >
        </div>
      </div>
      <div class="row gy-2">
        <div class="col-12">
          <button class="btn btn-success mx-1" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger mx-1" type="button" (click)="onDeleteItem(f)">Delete</button>
          <button class="btn btn-primary mx-1" type="button" (click)="onClearItems()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
